@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #242526;
  --secondary: #484a4d;
  --secondary-hover: #3a3b3d;
  --tertiary: #dadce1;
  --nav-size: 50px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
li,
label,
div {
  color: var(--tertiary);
}

input,
select {
  color: var(--primary);
}

body {
  color: rgb(var(--tertiary));
  background: var(--primary);
}

.card {
  @apply mb-5 block rounded-lg border border-gray-800 shadow-xl;
}

.primary-button {
  @apply rounded bg-amber-300 mt-2 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  @apply text-blue-500 hover:text-blue-700;
  text-decoration: none;
  transition: filter 300ms;
}

.a:hover {
  filter: brightness(1.6);
}

p {
  color: #c2c2c2;
}

a button,
button {
  @apply font-bold;
  color: var(--primary);
}

/* NAVBAR CSS - HAS TO BE TAILWIND AS MUCH AS POSSIBLE */
.navbar {
  height: var(--nav-size);
  background-color: var(--primary);
  padding: 0 1rem;
  border-bottom: var(--border);
}
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-button:hover {
  filter: brightness(1.2);
}
.icon-button svg,
button svg {
  fill: var(--tertiary);
  width: 32px;
  height: 32px;
}
.dropdown {
  position: absolute;
  top: 52px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--primary);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 10px;
  overflow: hidden;
  transition: height var(--speed) ease;
}
.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.menu-item:hover {
  background-color: var(--secondary-hover);
}
.icon-right {
  fill: var(--tertiary);
  width: 32px;
  height: 32px;
  margin-left: auto;
}
.menu {
  width: 100%;
}

/* MENU PRIMARY */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

/* MENU SETTINGS */
.menu-settings-enter {
  transform: translateX(110%);
}
.menu-settings-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-settings-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
